---
interface Props {
  href?: string;
  id?: string;
  size?: "text" | "caption" | "h2";
  target?: HTMLAnchorElement["target"];
  [key: `data-${string}`]: string;
}

import Arrow from "@components/Arrow/Arrow.astro";

const { href, id, size = "text", ...rest } = Astro.props;
const Button = href == null ? "button" : "a";

const arrowSize = {
  caption: 14,
  text: 14,
  h2: 20,
};
const arrowWeight = {
  caption: 2,
  text: 2,
  h2: 3,
};
---

<Button href={href} id={id} class:list={[size]} {...rest}>
  <slot />
  <div class="arrow-container">
    <Arrow width={arrowSize[size]} weight={arrowWeight[size]} angle={-45} />
  </div>
</Button>

<style lang="scss">
  a,
  button {
    cursor: pointer;
    font-size: var(--font-size-text);
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-xs);
    transition: gap 100ms ease;
    color: currentColor;
    &.caption {
      font-size: var(--font-size-caption);
    }

    &.h2 {
      font-size: var(--font-size-h2);
    }

    .arrow-container {
      opacity: 0;
      position: relative;
      right: 16px;
      transition: all 200ms ease;
    }

    &:hover {
      text-decoration: underline;

      .arrow-container {
        opacity: 1;
        right: 0;
      }
    }

    &:active {
      text-decoration: none;
    }
  }
</style>
