---
import Button, { type ButtonColor } from "@components/Button/Button.astro";
import Column from "@components/Grid/Column.astro";
import Row from "@components/Grid/Row.astro";
import SectionTitle from "@components/SectionTitle/SectionTitle.astro";
import { getCollection } from "astro:content";

interface Props {
  buttonColor: ButtonColor;
}

const { buttonColor } = Astro.props;
const allExperienceItems = await getCollection("experience");
---

<div>
  <Row>
    <Column size={{ xs: 12, md: 3 }}
      ><SectionTitle>Experience</SectionTitle></Column
    >
    <Column size={{ xs: 12, md: 9 }} class="experience">
      <div class="experience-list">
        {
          allExperienceItems.map((experience) => (
            <Fragment>
              <div class="line" />
              <p class="company">
                {experience.data.company}
                <span class="dates">
                  | {experience.data.from} - {experience.data.to}
                </span>
              </p>
              <p class="job-title">{experience.data.jobTitle}</p>
              <p class="dates">
                {experience.data.from} - {experience.data.to}
              </p>
            </Fragment>
          ))
        }
      </div>
    </Column>
  </Row>
  <Row class="download-cv">
    <Column offset={{ md: 3 }} align={{ sm: "start", xs: "center" }}>
      <Button href="/Nicolas_Vera_CV.pdf" color={buttonColor}
        >Download CV</Button
      >
    </Column>
  </Row>
</div>

<style lang="scss">
  @import "../../styles/screens.scss";

  .experience {
    @media screen and (max-width: $screen-md-min) {
      margin-top: var(--spacing-2xl);
    }
  }

  .experience-list {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: var(--spacing-xl);
    column-gap: var(--spacing-xl);
    align-items: baseline;

    @media screen and (max-width: $screen-sm-min) {
      grid-template-columns: 1fr;
    }
  }

  .line {
    grid-column: 1 / -1;
    width: 100%;
    border-bottom: 1px solid currentColor;
    margin-bottom: var(--spacing-lg);

    &:not(:first-child) {
      margin-top: var(--spacing-2xl);
    }
  }

  .dates {
    font-size: var(--font-size-text);
    font-weight: 400;
    @media screen and (max-width: $screen-sm-min) {
      display: none;
    }
  }

  .company {
    font-size: var(--font-size-text);
    font-weight: 400;
    @media screen and (max-width: $screen-sm-min) {
      opacity: 0.6;
    }

    .dates {
      display: none;
      @media screen and (max-width: $screen-sm-min) {
        display: initial;
      }
    }
  }

  .job-title {
    font-size: var(--font-size-h3);
    font-weight: 400;

    @media screen and (max-width: $screen-sm-min) {
      margin-top: var(--spacing-sm);
    }
  }

  .download-cv {
    margin-top: var(--spacing-3xl);
  }
</style>
