---
import type { CollectionEntry } from "astro:content";
import LinkButton from "@components/LinkButton/LinkButton.astro";
import TechChipGroup from "../TechChipGroup/TechChipGroup.astro";
import GridRow from "@components/Grid/GridRow.astro";
import GridCol from "@components/Grid/GridCol.astro";
import ProjectImages from "../ProjectImages/ProjectImages.astro";

interface Props {
  project: CollectionEntry<"projects">;
  direction?: "normal" | "reverse";
}

const { project, direction = "normal" } = Astro.props;

const isReversed = direction === "reverse";
---

<GridRow reverse={isReversed}>
  <GridCol xs={isReversed ? 7 : 6}>
    <ProjectImages project={project} />
  </GridCol>
  <GridCol xs="auto">
    <div class:list={["info", { reverse: isReversed }]}>
      <h2 class="logo">{project.data.name}</h2>
      <p class="description">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos doloremque
        unde repellendus veniam laborum ipsa totam earum exercitationem quaerat,
        eius excepturi. Sit magni quibusdam quos temporibus facere aliquam ipsam
        quisquam?
      </p>
      <TechChipGroup names={project.data.techs} />
      <div class="links">
        {
          project.data.repository && (
            <LinkButton href={project.data.repository}>Repository</LinkButton>
          )
        }
        {
          project.data.demo && (
            <LinkButton href={project.data.demo}>Demo</LinkButton>
          )
        }
      </div>
    </div>
  </GridCol>
</GridRow>

<style>
  img {
    width: 100%;
    border: 1px solid var(--color-light-border);
    border-radius: var(--radius-sm);
    box-shadow: 0 4px 4px 0 var(--color-shadow);
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: var(--spacing-md);

    &.reverse {
      padding-left: 0;
      padding-right: var(--spacing-md);
      text-align: end;
      align-items: flex-end;
    }

    .logo {
      color: var(--color-text);
      font-size: var(--font-size-h3);
      font-weight: 600;
      margin: 0;
      margin-top: -4px; /* Fix small space on top of text */
    }

    .description {
      margin-top: var(--spacing-sm);
      margin-bottom: var(--spacing-md);
      line-height: 140%;
    }

    .links {
      margin-top: var(--spacing-lg);

      *:not(:last-child) {
        margin-bottom: var(--spacing-sm);
      }
    }
  }
</style>
