---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import LinkButton from "@components/LinkButton/LinkButton.astro";

interface Props {
  project: CollectionEntry<"projects">;
}

const { project } = Astro.props;
const { screenshots, name, short, repository, techs } = project.data;
---

<div class="container">
  <div class="images">
    <Image src={screenshots[0]} alt={`Screenshot of ${name} app`} />
  </div>

  <div class="bottom">
    <div class="left">
      <p>{name}</p>
      <h3>{short}</h3>
    </div>

    {repository && <LinkButton href={repository}>Repository</LinkButton>}
  </div>
</div>

<style>
  .container {
    width: 100%;
    padding: var(--spacing-xl);
    background-color: #fafafa;
    border: 1px solid #f5f5f5;
    border-radius: var(--radius-lg);
  }

  .bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    margin-top: var(--spacing-md);

    .left {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-sm);

      h3 {
        margin: 0;
        font-size: var(--font-size-h4);
        font-weight: 400;
      }

      h3,
      p {
        margin: 0;
      }

      p {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: var(--font-size-caption);
        color: var(--color-text-light);
      }
    }
  }

  .images {
    width: 100%;
    position: relative;

    .techs {
      position: absolute;
      right: var(--spacing-md);
      bottom: var(--spacing-md);
    }
  }

  img {
    width: 100%;
    height: auto;
    border: 1px solid #f5f5f5;
    border-radius: var(--radius-md);
  }
</style>
